@import 'mixins';
:root {
    --black: #323232;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    line-height: 150%;
    // overflow-x: hidden;
    &.openmodal {
        overflow-y: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.4s;
}

a:hover {
    opacity: 0.7;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
    @include flex;
    @include al-i(center);
    justify-content: center;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

@media (min-width: 1700px) {
    .container {
        max-width: 1680px;
        margin: 0 auto;
        padding: 0 7px;
    }
}

.header {
    &__top {
        background-color: var(--black);
        color: #fff;
    }
    &__top-inner {
        padding: 12.5px 0;
        @include flex;
        @include j-c;
    }
    &__city {
        font-size: 14px;
        line-height: 150%;
        font-size: 14px;
        @include flex;
        & button {
            margin-left: 14px;
            background-color: inherit;
            border: none;
        }
    }
    &__phone {
        font-size: 22px;
    }
    &__bottom-inner {
        @include flex;
        @include al-i(center);
        @include j-c;
        padding: 32px 0 17px;
    }
    &__bottom-left {
        @include flex;
        @include al-i(center);
    }
    &__logo {
        margin-right: 48px;
    }
    .nav {
        & ul {
            @include flex;
            @include al-i(center);
        }
        &__item {
            margin-right: 28px;
            font-size: 18px;
            position: relative;
            cursor: pointer;
            transition: 0.4s;
            &:hover::after {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #000;
            }
        }
        &__item--active::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #000;
        }
    }
    &__bottom-right {
        @include flex;
        @include al-i(center);
    }
    &__btn {
        margin-left: 20px;
        background-color: inherit;
    }
    &__btn.cart-btn {
        position: relative;
        & span {
            position: absolute;
            width: 18px;
            height: 18px;
            background-color: #000;
            color: #fff;
            border-radius: 100%;
            font-size: 12px;
            @include flex;
            @include al-i(center);
            justify-content: center;
            top: 4px;
            right: 0;
            transform: translate(50%, -50%);
        }
    }
    &__content {
        padding: 120px 0 330px;
        background-image: url(../images/header-bg.jpg);
        background-size: cover;
    }
    &__title {
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 99px;
    }
    &__desc {
        font-family: Rubik;
        font-weight: normal;
        font-size: 24px;
    }
    &__content-btn {
        padding: 0 72px;
        height: 58px;
        font-family: "Bebas Neue";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        text-transform: uppercase;
        letter-spacing: 0.0375em;
        color: #FFFFFF;
        background-color: #000;
        margin-top: 45px;
        background-image: url(../images/arrow-right.svg);
        background-repeat: no-repeat;
        background-position: 270px center;
        &:hover {
            opacity: 0.8;
        }
    }
}

.about {
    padding-top: 70px;
    &__top {
        @include flex;
        @include j-c;
    }
    &__img {
        width: calc( 50% - 36px);
        & img {
            width: 100%;
        }
    }
    &__info {
        width: calc( 50% - 36px);
    }
    &__title {
        font-size: 32px;
        line-height: 130%;
    }
    &__desc {
        margin-top: 12px;
    }
    &__link {
        font-size: 16px;
        color: #CC4C6E;
        margin-top: 22px;
        display: block;
        transition: 0.3s;
        &:hover {
            color: grey;
        }
        &:hover svg path {
            fill: grey;
        }
    }
    &__bottom {
        @include flex;
        @include j-c;
        @include al-i(center);
        margin-top: 36px;
    }
    &__items {
        padding: 20px 32px;
        border: 1px solid #f1f1f1;
        width: calc(25% - 18.75px);
        font-family: "Bebas Neue";
        font-weight: normal;
        font-size: 18px;
        // line-height: 130%;
        letter-spacing: 0.0375em;
        color: #464646;
        text-transform: uppercase;
    }
}

.card {
    border: none;
    &__sell {
        position: absolute;
        width: 56px;
        height: 56px;
        background: #FF3465;
        color: #fff;
        @include flex;
        justify-content: center;
        @include al-i(center);
        top: 0;
        left: 0;
    }
    &__top {
        background: #F3F3F3;
        padding: 75px 41px;
        @include flex;
        justify-content: center;
        @include al-i(center);
        position: relative;
    }
    &__title {
        font-family: "Bebas Neue";
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 1.5px;
        color: #1A1A1A;
        margin-top: 24px;
        margin-left: 24px;
    }
    &__bottom {
        margin-left: 24px;
        @include flex;
        @include al-i(center);
        margin-top: 10px;
    }
    &__desc {
        font-size: 12px;
        line-height: 18px;
        color: #5C5C66;
        display: block;
        margin-right: 30px;
    }
    &__price {
        color: #1A1A1A;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        display: block;
    }
    &__price--grey {
        font-size: 14px;
        line-height: 16px;
        color: #BCBCBC;
        margin-left: 8px;
        display: block;
    }
}

.new {
    padding-top: 65px;
    &__title {
        font-family: "Open Sans";
        font-weight: normal;
        font-size: 28px;
        line-height: 130%;
        margin-bottom: 32px;
    }
    & .swiper-button-next,
    & .swiper-button-prev {
        &::after {
            display: none;
        }
        &.swiper-button-disabled {
            opacity: 1;
            & svg path {
                fill: #B2B2B2;
            }
        }
    }
    & .swiper-button-next {
        left: unset;
        top: 17px;
        right: 0;
    }
    & .swiper-button-prev {
        left: unset;
        right: 48px;
        top: 17px;
    }
}

.card2 {
    &__top {
        background: #F3F3F3;
        padding: 75px 100px;
        @include flex;
        justify-content: center;
        @include al-i(center);
        position: relative;
        & img {
            width: 100%;
        }
    }
    &__title {
        font-family: "Bebas Neue";
        font-weight: bold;
        font-size: 48px;
        line-height: 130%;
        margin-top: -31px;
        letter-spacing: 0.0375em;
        color: #000000;
        position: relative;
        z-index: 2;
        margin-left: 32px;
    }
    &__desc {
        font-size: 18px;
        line-height: 130%;
        margin-top: 4px;
        color: #969696;
        margin-left: 32px;
    }
}

.sale {
    padding-top: 50px;
    & .container {
        position: relative;
    }
    &__title {
        font-size: 28px;
        line-height: 130%;
        padding-left: 210px;
        margin-bottom: 30px;
    }
    & .swiper-slide {
        width: 990px;
    }
    & .swiper-button-next,
    & .swiper-button-prev {
        &::after {
            display: none;
        }
        &.swiper-button-disabled {
            opacity: 1;
            & svg path {
                fill: #B2B2B2;
            }
        }
    }
    & .swiper-button-next {
        left: unset;
        top: 17px;
        right: 0;
    }
    & .swiper-button-prev {
        left: unset;
        right: 48px;
        top: 17px;
    }
}

.recomend {
    padding-top: 65px;
    &__title {
        font-family: "Open Sans";
        font-weight: normal;
        font-size: 28px;
        line-height: 130%;
        margin-bottom: 32px;
    }
    & .swiper-button-next,
    & .swiper-button-prev {
        &::after {
            display: none;
        }
        &.swiper-button-disabled {
            opacity: 1;
            & svg path {
                fill: #B2B2B2;
            }
        }
    }
    & .swiper-button-next {
        left: unset;
        top: 17px;
        right: 0;
    }
    & .swiper-button-prev {
        left: unset;
        right: 48px;
        top: 17px;
    }
}

.subscribe {
    padding-top: 80px;
    &__form {
        width: 74%;
        margin-left: auto;
        margin-right: 0;
        padding: 107px 22% 120px 25%;
        background: #F3F3F3;
    }
    &__inner {
        position: relative;
    }
    &__bg {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 48.7%;
    }
    &__title {
        font-size: 48px;
        line-height: 110%;
    }
    &__desc {
        font-size: 22px;
        line-height: 130%;
        margin-top: 15px;
        color: #5A5A5A;
    }
    & input {
        border: none;
        border-bottom: 1px solid #C4C4C4;
        width: 100%;
        background-color: inherit;
        margin-top: 10px;
        padding: 8px;
        outline: none;
        &::placeholder,
        &::-moz-placeholder,
        &::-webkit-input-placeholder {
            font-size: 22px;
            line-height: 130%;
            color: #9A9A9A;
        }
    }
    &__btn {
        font-family: "Bebas Neue";
        font-weight: normal;
        font-size: 22px;
        line-height: 130%;
        letter-spacing: 0.0375em;
        color: #FFFFFF;
        width: 100%;
        height: 64px;
        text-transform: uppercase;
        background: #000000;
        border-radius: 4px;
        margin-top: 30px;
        &:hover {
            opacity: 0.8;
        }
    }
}

.footer {
    padding-top: 100px;
    padding-bottom: 25px;
    &__top {
        @include flex;
        @include j-c;
        position: relative;
    }
    &__item {
        display: block;
        font-size: 14px;
        line-height: 200%;
        color: #4E4E4E;
    }
    &__pay {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 604px;
        @include flex;
        @include j-c;
        @include al-i(center);
    }
    &__phone,
    &__mail {
        font-weight: bold;
        font-size: 22px;
        line-height: 200%;
        color: #828282;
        display: block;
    }
    &__logo {
        margin-bottom: 20px;
        display: block;
    }
    &__address {
        margin-top: 14px;
    }
    &__title {
        font-size: 22px;
        margin-bottom: 3px;
    }
    &__title--socials {
        font-size: 22px;
        line-height: 200%;
    }
    &__socials {
        @include flex;
        @include j-c;
    }
    &__bottom {
        padding: 25px 0;
        color: #B7B7B7;
        @include flex;
        @include j-c;
        margin-top: 30px;
        @include al-i(center);
        & .black {
            color: #000;
        }
    }
}

.breadcrumbs {
    margin-top: 50px;
    font-size: 14px;
    line-height: 200%;
    color: #757575;
    @include flex;
    &__item {
        margin-left: 5px;
    }
}

.product-detail {
    padding-top: 40px;
    &__inner {
        @include flex;
        @include j-c;
    }
    &__img {
        padding: 36px 206px;
        background: #F3F3F3;
    }
    &__info {
        width: calc(100% - 800px);
    }
    &__title {
        font-family: "Bebas Neue";
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 130%;
        letter-spacing: 0.0375em;
        & span {
            color: #D785A1;
        }
    }
    &__desc {
        font-size: 14px;
        line-height: 200%;
        margin-top: 28px;
        color: #AFAFAF;
    }
    &__volume {
        margin-top: 28px;
        font-size: 16px;
        line-height: 200%;
        @include flex;
        @include al-i(center);
    }
    &__amount {
        margin-right: 8px;
        border: 1px solid #000000;
        padding: 8px;
    }
    &__prices {
        margin-top: 28px;
        @include flex;
        line-height: 200%;
    }
    &__price {
        margin-right: 17px;
    }
    &__rub {
        font-weight: bold;
        font-size: 24px;
        &.no-discount {
            color: #B9B9B9;
            text-decoration: line-through;
        }
    }
    &__discount {
        font-size: 12px;
        color: #F287AB;
        &.no-discount {
            color: #B9B9B9;
        }
    }
    &__buttons {
        @include flex;
        @include al-i(center);
        margin-top: 22px;
        position: relative;
    }
    &__btn {
        background: #1A1A1A;
        height: 54px;
        width: 54px;
        color: #fff;
        font-family: "Bebas Neue";
        font-weight: normal;
        font-size: 18px;
        line-height: 200%;
        text-align: center;
        letter-spacing: 0.0375em;
        margin-right: 20px;
        &:hover {
            opacity: 0.8;
        }
        // &.scale {
        //     position: relative;
        // }
        &:hover .product-detail__hint {
            opacity: 1;
        }
    }
    &__btn--big {
        width: 268px;
    }
    &__inshop {
        font-size: 12px;
        line-height: 200%;
        margin-top: 13px;
        color: #2E2E2E;
    }
    &__hint {
        position: absolute;
        background: #1A1A1A;
        color: #fff;
        width: 240px;
        height: 53px;
        text-align: left;
        padding: 5px 12px;
        top: -73px;
        left: 362px;
        & p {
            font-weight: bold;
            font-size: 12px;
            line-height: 26px;
        }
        & a {
            font-size: 10px;
            color: #D785A1;
            line-height: 10px;
            display: block;
        }
        &:hover {
            opacity: 1;
        }
    }
    &__hint::after {
        content: '';
        position: absolute;
        left: 25px;
        bottom: -20px;
        border: 10px solid transparent;
        border-top: 10px solid #1A1A1A;
        z-index: 10;
    }
    &__about {
        margin-top: 33px;
        @include flex;
        @include al-i(center);
        & span {
            display: block;
        }
        & img {
            flex-shrink: 0;
            margin-right: 13px;
        }
    }
    &__about-item {
        @include flex;
        @include al-i(center);
        margin-right: 30px;
        font-size: 14px;
    }
}

.interest {
    padding-top: 65px;
    &__title {
        font-family: "Open Sans";
        font-weight: normal;
        font-size: 28px;
        line-height: 130%;
        margin-bottom: 32px;
    }
    & .swiper-button-next,
    & .swiper-button-prev {
        &::after {
            display: none;
        }
        &.swiper-button-disabled {
            opacity: 1;
            & svg path {
                fill: #B2B2B2;
            }
        }
    }
    & .swiper-button-next {
        left: unset;
        top: 17px;
        right: 0;
    }
    & .swiper-button-prev {
        left: unset;
        right: 48px;
        top: 17px;
    }
}

.same {
    padding-top: 65px;
    &__title {
        font-family: "Open Sans";
        font-weight: normal;
        font-size: 28px;
        line-height: 130%;
        margin-bottom: 32px;
    }
    & .swiper-button-next,
    & .swiper-button-prev {
        &::after {
            display: none;
        }
        &.swiper-button-disabled {
            opacity: 1;
            & svg path {
                fill: #B2B2B2;
            }
        }
    }
    & .swiper-button-next {
        left: unset;
        top: 17px;
        right: 0;
    }
    & .swiper-button-prev {
        left: unset;
        right: 48px;
        top: 17px;
    }
}

.product-info {
    padding-top: 45px;
    &__title {
        margin-top: 14px;
        font-size: 16px;
        line-height: 130%;
    }
    &__desc {
        margin-top: 8px;
        font-size: 14px;
        line-height: 200%;
        color: #AFAFAF;
    }
    &__text {
        margin-top: 18px;
        font-size: 14px;
        line-height: 200%;
        color: #3C3C3C;
    }
    &__detail {
        margin-top: 43px;
        font-size: 14px;
        line-height: 200%;
    }
    &__detail-item {
        @include flex;
        margin-bottom: 18px;
        margin-top: 13px;
        & span {
            display: block;
        }
        & .grey {
            color: #AFAFAF;
            width: 151px;
            margin-right: 56px;
        }
    }
}

.tabs {
    &__list {
        @include flex;
        @include al-i(center);
        padding-bottom: 7px;
        border-bottom: 1px solid #C4C4C4;
    }
    &__item {
        margin-right: 40px;
        position: relative;
        &:hover::after {
            content: "";
            position: absolute;
            bottom: -7px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #000;
        }
    }
    &__item--active::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
    }
    &__content {
        display: none;
    }
    &__content--active {
        display: block;
    }
}