@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  --black: #323232;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: Roboto;
  line-height: 150%;
  min-height: 100%;
}
body.openmodal {
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  opacity: 0.7;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

@media (min-width: 1700px) {
  .container {
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 7px;
  }
}
.header__top {
  background-color: var(--black);
  color: #fff;
}
.header__top-inner {
  padding: 12.5px 0;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
}
.header__city {
  font-size: 14px;
  line-height: 150%;
  font-size: 14px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  transition: 0.4s;
}
.header__city button {
  margin-left: 14px;
  background-color: inherit;
  border: none;
}
.header__city:hover {
  opacity: 0.7;
  cursor: pointer;
}
.header__phone {
  font-size: 22px;
}
.header__bottom {
  position: relative;
}
.header__bottom-inner {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  padding: 32px 0 17px;
}
.header__bottom-left {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.header__logo {
  margin-right: 48px;
}
.header .nav ul {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.header .nav__item {
  margin-right: 28px;
  font-size: 18px;
  padding-bottom: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.header .nav__item:hover {
  border-bottom: 2px solid #000;
}
.header .nav__item--active {
  border-bottom: 2px solid #000;
}
.header__bottom-right {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.header__btn {
  margin-left: 20px;
  background-color: inherit;
}
.header__btn.cart-btn {
  position: relative;
}
.header__btn.cart-btn span {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #000;
  color: #fff;
  border-radius: 100%;
  font-size: 12px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  top: 4px;
  right: 0;
  transform: translate(50%, -50%);
}
.header__content {
  padding: 120px 0 330px;
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
}
.header__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 99px;
}
.header__desc {
  font-family: Rubik;
  font-weight: normal;
  font-size: 24px;
}
.header__content-btn {
  padding: 0 72px;
  height: 58px;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  letter-spacing: 0.0375em;
  color: #FFFFFF;
  background-color: #000;
  margin-top: 45px;
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: 270px center;
}
.header__content-btn:hover {
  opacity: 0.8;
}

.nav__item-catalog:hover .catalog-menu {
  display: block;
}

.nav__item-catalog:hover .modal-bg {
  display: block;
}

.modal-bg {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: none;
  top: 0;
  left: 0;
}

.catalog-menu {
  display: none;
  padding-top: 20px;
  padding-bottom: 24px;
  position: absolute;
  z-index: 5;
  width: 100%;
  background-color: #fff;
  bottom: 22px;
  left: 50%;
  transform: translate(-50%, 100%);
}
.catalog-menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.4);
  top: 20px;
}
.catalog-menu::before {
  width: 100%;
  content: "";
  position: absolute;
  bottom: 0;
  transform: translateY(60%);
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 1000px;
  z-index: 4;
  pointer-events: none;
  top: 0;
  left: 0;
}
.catalog-menu__inner {
  padding-top: 25px;
}
.catalog-menu__main {
  flex-direction: column;
  width: 290px;
  position: relative;
}
.catalog-menu__item {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  width: 100%;
  font-size: 18px;
  line-height: 200%;
  color: #373737;
}
.catalog-menu__item:hover {
  color: #000;
}
.catalog-menu__item:hover > .catalog-submenu {
  display: block;
}
.catalog-menu .catalog-submenu {
  width: 1370px;
  height: 100%;
  position: absolute;
  padding-left: 42px;
  top: 0;
  right: 0;
  transform: translateX(100%);
  display: none;
}
.catalog-menu .catalog-submenu__list {
  flex-direction: column;
}
.catalog-menu .catalog-submenu__item {
  width: 100%;
  font-size: 18px;
  line-height: 200%;
  color: #373737;
}
.catalog-menu .catalog-submenu__item:hover {
  color: #000;
}
.catalog-menu .catalog-product {
  position: absolute;
  right: 260px;
  top: 0;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.catalog-menu .catalog-product__item {
  width: 203px;
  margin-left: 33px;
}
.catalog-menu .catalog-product__top {
  width: 100%;
  height: 345px;
  padding: 35px 0;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  background: #F3F3F3;
}
.catalog-menu .catalog-product__title {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.0375em;
  margin-top: -10px;
}
.catalog-menu .catalog-product__desc {
  line-height: 130%;
  margin-top: 8px;
  font-size: 16px;
}

.city {
  display: none;
  width: 861px;
  position: fixed;
  min-height: 100vh;
  top: 0;
  right: 0;
  background-color: #fff;
  padding: 80px 104px;
  z-index: 5;
}
.city__close {
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: inherit;
  top: 40px;
  right: 40px;
}
.city__title {
  font-weight: bold;
  font-size: 80px;
  line-height: 150%;
  color: #F3F3F3;
}
.city__desc {
  color: #828282;
  margin-top: 3px;
  width: 444px;
}
.city__desc span {
  color: #000;
}
.city__list {
  line-height: 200%;
  margin-top: 12px;
}
.city__item {
  transition: .3s;
}
.city__item:hover {
  color: #D785A1;
  cursor: pointer;
}
.city__item--active {
  color: #D785A1;
  pointer-events: none;
}
.city .country {
  position: relative;
}
.city .country__hidden {
  display: none;
  position: absolute;
  bottom: 2px;
  transform: translateY(100%);
  box-shadow: 0 5px 15px #333;
  width: 100%;
  padding: 5px 10px;
  background-color: #fff;
}
.city .country__hidden p:hover {
  cursor: pointer;
  color: #D785A1;
}
.city .country .selected {
  display: none;
}
.city .country .selected--active {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.city .country__select {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  margin-bottom: 5px;
  transition: 0.4s;
}
.city .country__select span {
  display: block;
  margin-left: 10px;
  pointer-events: none;
}
.city .country__show {
  position: relative;
  padding: 8px 0;
  border-bottom: 1px solid #CACACA;
  cursor: pointer;
}
.city .country__open-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: inherit;
  transition: 0.4s;
}
.city .country__open-btn--active {
  transform: rotate(180deg);
}

.cart {
  display: none;
  width: 861px;
  position: fixed;
  min-height: 100vh;
  top: 0;
  right: 0;
  background-color: #fff;
  padding: 67px 104px;
  z-index: 5;
}
.cart__close {
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: inherit;
  top: 40px;
  right: 40px;
}
.cart__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 150%;
}
.cart__title span {
  font-size: 35px;
}
.cart__desc {
  margin-top: 33px;
  font-size: 30px;
  line-height: 150%;
}
.cart__items {
  margin-top: 32px;
}
.cart__item {
  margin-bottom: 43px;
  position: relative;
}
.cart__content {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.cart__img {
  width: 126px;
  height: 126px;
  margin-right: 20px;
}
.cart__img img {
  width: 100%;
  height: 100%;
}
.cart__info {
  width: 386px;
  padding-top: 19px;
}
.cart__item-desc {
  font-size: 14px;
  line-height: 110%;
  color: #434343;
}
.cart__item-title {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.0375em;
  color: #050505;
  margin-top: 10px;
}
.cart__item-ml {
  margin-top: 13px;
  font-size: 14px;
  line-height: 110%;
  color: #434343;
}
.cart__sale {
  font-size: 12px;
  line-height: 200%;
  color: #915167;
  text-align: right;
  margin-top: -45px;
}
.cart__prices-bottom {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: flex-end;
  font-size: 18px;
  line-height: 200%;
  margin-top: -10px;
}
.cart__price-big {
  color: #B9B9B9;
  margin-right: 24px;
}
.cart__item-nav {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  position: absolute;
  top: 0;
  right: 0;
}
.cart__item-nav button {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: block;
}
.cart__item-minus {
  background: #F7F7F7;
  margin-right: 14px;
  position: relative;
}
.cart__item-minus::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cart__item-minus.cart__item-minus--disable::after {
  background: #D1D1D1;
}
.cart__item-plus {
  background: #F6F6F6;
  margin-left: 14px;
  position: relative;
}
.cart__item-plus::after, .cart__item-plus::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cart__item-plus::before {
  width: 2px;
  height: 10px;
}
.cart__item-close {
  background-color: inherit;
  margin-left: 10px;
}
.cart__bonus {
  width: 190px;
}
.cart__bonus-top {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  font-size: 12px;
  line-height: 200%;
  color: #AEAEAE;
}
.cart__bonus-val {
  color: #1F1F1F;
}
.cart form p {
  margin-top: 8px;
  position: relative;
}
.cart form p img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.cart input {
  border: 1px dashed #B9B9B9;
  padding: 10px 17px;
  outline: none;
  width: 100%;
}
.cart input::placeholder {
  font-size: 14px;
  line-height: 130%;
  /* or 18px */
  color: #838383;
}
.cart__pay {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: flex-end;
  margin-top: -45px;
  text-align: right;
}
.cart__pay-item {
  font-size: 12px;
  line-height: 200%;
  margin-left: 40px;
  color: #545454;
}
.cart__pay-price {
  font-size: 18px;
  line-height: 200%;
  color: #000;
  margin-top: -10px;
}
.cart__pay-price--pink {
  color: #915167;
}
.cart__btn {
  width: 100%;
  height: 53px;
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.0375em;
  color: #FFFFFF;
  background: #000;
  margin-top: 20px;
  transition: .4s;
  text-transform: uppercase;
}
.cart__btn:hover {
  opacity: 0.8;
}
.cart .cart-empty {
  padding-top: 280px;
  padding-left: 95px;
  padding-right: 95px;
  display: none;
}
.cart__subtitle {
  margin-top: 16px;
}
.cart__btn-empty {
  margin-top: 32px;
  font-size: 16px;
}
.cart__link-empty {
  color: #3F3F3F;
  margin-top: 19px;
  width: 100%;
  text-align: center;
  display: block;
}
.cart .cart-reg__flag-btn {
  display: block;
}
.cart #reg-tel {
  border: none;
  border-bottom: 1px solid #CACACA;
  padding: 7px 0px 7px 66px;
  margin-top: 20px;
}
.cart .cart-reg {
  display: none;
  padding-top: 310px;
  padding-left: 70px;
  padding-right: 70px;
}
.cart .cart-reg__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
}
.cart .cart-reg__desc {
  margin-top: 12px;
}
.cart .cart-reg form {
  position: relative;
}
.cart .cart-reg__flag {
  position: absolute;
  left: 0px;
  top: 25px;
  z-index: 6;
  width: 28px;
  height: 20px;
  cursor: pointer;
}
.cart .cart-reg__flag-btn {
  position: absolute;
  left: 45px;
  top: 27px;
  cursor: pointer;
}
.cart .cart-reg__btn {
  margin-top: 30px;
}

.wrapper {
  overflow-y: hidden;
}

.order {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 99.99vh;
  overflow-y: scroll;
  background-color: #fff;
  padding-top: 30px;
  z-index: 5;
}
.order__inner {
  width: 1260px;
  margin-left: auto;
  margin-right: auto;
}
.order__top {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.order__back, .order__close {
  background-color: inherit;
}
.order__close img {
  width: 28px;
  height: 28px;
}
.order__logo img {
  width: 242px;
}
.order__sides {
  padding: 80px 100px 80px 0;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
}
.order__btn {
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.0375em;
  color: #FFFFFF;
  background: #000;
  width: 350px;
  height: 53px;
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  margin-top: 90px;
}

.step {
  margin-bottom: 56px;
}
.step.step--active {
  margin-bottom: 20px;
}
.step__show {
  width: 490px;
  margin-left: 100px;
}
.step__show-top {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.step__num {
  font-size: 30px;
  line-height: 200%;
  margin-right: 80px;
}
.step__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 200%;
  color: #585858;
}
.step__title--active {
  color: #000;
}
.step__btn {
  background-color: inherit;
  margin-left: auto;
  margin-right: 0;
}
.step__hint {
  margin-left: auto;
  width: 371px;
  font-size: 14px;
  line-height: 130%;
  color: #7B7B7B;
  padding-bottom: 16px;
  border-bottom: 1px solid #C4C4C4;
}
.step__hidden {
  margin-top: 100px;
}
.step__item {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  margin-bottom: 80px;
}
.step__item-left {
  font-weight: bold;
  font-size: 22px;
  line-height: 150%;
}
.step__item-right {
  width: 371px;
}
.step__item-right p {
  font-size: 18px;
}
.step__item-right .step__sms {
  font-size: 14px;
  margin-top: 16px;
}
.step__item-btn {
  margin-top: 20px;
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.0375em;
  background: #F3F3F3;
  width: 268px;
  height: 53px;
  text-transform: uppercase;
}
.step__item-radios {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.step__item-radio {
  width: 50%;
  padding: 11px 18px 15px 11px;
  border: 1px solid #CECECE;
  transition: 0.4s;
}
.step__item-radio p:first-child {
  font-weight: bold;
  font-size: 18px;
}
.step__item-radio p:nth-child(2) {
  font-family: "Open Sans";
  margin-top: 1px;
  font-size: 16px;
}
.step__item-radio p:nth-child(3) {
  font-family: "Open Sans";
  margin-top: 16px;
  color: #616161;
  font-size: 16px;
}
.step__item-radio:hover {
  border: 2px solid #000000;
  cursor: pointer;
}
.step__item-radio.sm {
  padding: 10px 16px;
  width: 20%;
}
.step__item-radio--active {
  border: 2px solid #000000;
  pointer-events: none;
}
.step__time {
  display: block;
  width: 160px;
  position: relative;
  margin-top: 20px;
}
.step__time .new-select {
  position: relative;
  border-bottom: 1px solid #000;
  padding: 5px 0;
  cursor: pointer;
  user-select: none;
  font-size: 18px;
  line-height: 150%;
}
.step__time .new-select__list {
  padding: 5px 8px;
  position: absolute;
  top: 45px;
  left: 0;
  border: 1px solid #F3F3F3;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  background: #fff;
  user-select: none;
  font-size: 14px;
  line-height: 150%;
  color: #828282;
}
.step__time .new-select__list.on {
  display: block;
}
.step__time .new-select__item span {
  display: block;
}
.step__time .new-select__item {
  padding: 4px 8px;
  border-bottom: 1px solid #F3F3F3;
}
.step__time .new-select__item:last-child {
  border: none;
}
.step__time .new-select__item:hover {
  color: #D785A1;
}
.step__time .new-select:after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0px;
  top: 9px;
  background: url(../images/order_down.svg) no-repeat right center/cover;
  -webkit-transition: all .27s ease-in-out;
  -o-transition: all .27s ease-in-out;
  transition: all .27s ease-in-out;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.step__time .new-select.on:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.step__input-container {
  margin-bottom: 20px;
}
.step__input-container input {
  width: 100%;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #CACACA;
  outline: none;
}
.step__input-container input::placeholder {
  font-size: 16px;
  line-height: 150%;
  color: #828282;
}
.step__input-container .input__error {
  color: #F10D48;
  font-size: 13px;
  line-height: 150%;
  display: none;
}
.step__input-container .input__error--active {
  display: block;
}
.step__input-container .input__hint {
  color: #CACACA;
  font-size: 13px;
  line-height: 150%;
  display: block;
  margin-top: 5px;
}
.step .flag__select {
  display: block;
  width: 55px;
  position: relative;
  margin-top: 20px;
}
.step .flag__select .new-select {
  position: relative;
  padding: 5px 0;
  cursor: pointer;
  user-select: none;
  font-size: 0px;
  line-height: 150%;
}
.step .flag__select .new-select__list {
  padding: 5px 8px;
  position: absolute;
  top: 45px;
  left: 0;
  border: 1px solid #F3F3F3;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  background: #fff;
  user-select: none;
  font-size: 14px;
  line-height: 150%;
  color: #828282;
}
.step .flag__select .new-select__list.on {
  display: block;
}
.step .flag__select .new-select__item span {
  display: block;
}
.step .flag__select .new-select__item {
  background-size: 28px 20px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #F3F3F3;
}
.step .flag__select .new-select__item:last-child {
  border: none;
}
.step .flag__select .new-select__item:hover {
  color: #D785A1;
}
.step .flag__select .new-select__item[data-value=belarus] {
  font-size: 0;
  background-image: url(../images/by.svg);
}
.step .flag__select .new-select__item[data-value=russia] {
  font-size: 0;
  background-image: url(../images/flag.png);
}
.step .flag__select .new-select:after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0px;
  top: 9px;
  background: url(../images/order_down.svg) no-repeat right center/cover;
  -webkit-transition: all .27s ease-in-out;
  -o-transition: all .27s ease-in-out;
  transition: all .27s ease-in-out;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.step .flag__select .new-select.on:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.buy {
  padding: 32px;
  background: #FAFAFA;
  width: 436px;
}
.buy__top {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.buy__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 130%;
}
.buy__title span {
  font-size: 18px;
  font-weight: 400;
}
.buy__change {
  font-size: 14px;
  line-height: 130%;
  color: #828282;
  background-color: inherit;
  transition: .4s;
}
.buy__change:hover {
  color: #000;
}
.buy__img {
  margin-top: 23px;
  width: 100px;
}
.buy__img img {
  width: 100%;
}
.buy__bottom {
  margin-top: 24px;
  padding-bottom: 6px;
  border-bottom: 1px solid #C4C4C4;
  font-size: 14px;
  line-height: 130%;
}
.buy__bottom p {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  margin-bottom: 12px;
}
.buy__bottom-title {
  color: #828282;
}
.buy__total {
  margin-top: 20px;
  text-align: right;
}
.buy__total p:first-child {
  font-size: 12px;
  line-height: 200%;
  color: #5E5E5E;
}
.buy__total p:last-child {
  font-size: 18px;
  line-height: 200%;
  margin-top: -10px;
}
.buy .bonus {
  margin-top: 30px;
  width: 190px;
}
.buy .bonus__top {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  font-size: 12px;
  line-height: 200%;
  color: #828282;
}
.buy .bonus__val {
  color: #000000;
}
.buy .bonus form {
  margin-top: 7px;
}
.buy .bonus form p {
  position: relative;
  margin-bottom: 16px;
}
.buy .bonus form p span {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
}
.buy .bonus input {
  border: 1px dashed #CACACA;
  padding: 10px 17px;
  background-color: inherit;
  font-size: 14px;
  line-height: 130%;
  outline: none;
  width: 100%;
}
.buy .bonus input::placeholder {
  color: #828282;
}

.about {
  padding-top: 70px;
}
.about__top {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
}
.about__img {
  width: calc( 50% - 36px);
}
.about__img img {
  width: 100%;
}
.about__info {
  width: calc( 50% - 36px);
}
.about__title {
  font-size: 32px;
  line-height: 130%;
}
.about__desc {
  margin-top: 12px;
}
.about__link {
  font-size: 16px;
  color: #CC4C6E;
  margin-top: 22px;
  display: block;
  transition: 0.3s;
}
.about__link:hover {
  color: grey;
}
.about__link:hover svg path {
  fill: grey;
}
.about__bottom {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  margin-top: 36px;
}
.about__items {
  padding: 20px 32px;
  border: 1px solid #f1f1f1;
  width: calc(25% - 18.75px);
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.0375em;
  color: #464646;
  text-transform: uppercase;
}

.card {
  border: none;
}
.card__sell {
  position: absolute;
  width: 56px;
  height: 56px;
  background: #FF3465;
  color: #fff;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  top: 0;
  left: 0;
}
.card__top {
  background: #F3F3F3;
  padding: 75px 41px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  position: relative;
}
.card__title {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1.5px;
  color: #1A1A1A;
  margin-top: 24px;
  margin-left: 24px;
}
.card__bottom {
  margin-left: 24px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  margin-top: 10px;
}
.card__desc {
  font-size: 12px;
  line-height: 18px;
  color: #5C5C66;
  display: block;
  margin-right: 30px;
}
.card__price {
  color: #1A1A1A;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  display: block;
}
.card__price--grey {
  font-size: 14px;
  line-height: 16px;
  color: #BCBCBC;
  margin-left: 8px;
  display: block;
}

.new {
  padding-top: 65px;
}
.new__title {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 28px;
  line-height: 130%;
  margin-bottom: 32px;
}
.new .swiper-button-next::after, .new .swiper-button-prev::after {
  display: none;
}
.new .swiper-button-next.swiper-button-disabled, .new .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}
.new .swiper-button-next.swiper-button-disabled svg path, .new .swiper-button-prev.swiper-button-disabled svg path {
  fill: #B2B2B2;
}
.new .swiper-button-next {
  left: unset;
  top: 17px;
  right: 0;
}
.new .swiper-button-prev {
  left: unset;
  right: 48px;
  top: 17px;
}

.card2__top {
  background: #F3F3F3;
  padding: 75px 100px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  position: relative;
}
.card2__top img {
  width: 100%;
}
.card2__title {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 48px;
  line-height: 130%;
  margin-top: -31px;
  letter-spacing: 0.0375em;
  color: #000000;
  position: relative;
  z-index: 2;
  margin-left: 32px;
}
.card2__desc {
  font-size: 18px;
  line-height: 130%;
  margin-top: 4px;
  color: #969696;
  margin-left: 32px;
}

.sale {
  padding-top: 50px;
}
.sale .container {
  position: relative;
}
.sale__title {
  font-size: 28px;
  line-height: 130%;
  padding-left: 210px;
  margin-bottom: 30px;
}
.sale .swiper-slide {
  width: 990px;
}
.sale .swiper-button-next::after, .sale .swiper-button-prev::after {
  display: none;
}
.sale .swiper-button-next.swiper-button-disabled, .sale .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}
.sale .swiper-button-next.swiper-button-disabled svg path, .sale .swiper-button-prev.swiper-button-disabled svg path {
  fill: #B2B2B2;
}
.sale .swiper-button-next {
  left: unset;
  top: 17px;
  right: 0;
}
.sale .swiper-button-prev {
  left: unset;
  right: 48px;
  top: 17px;
}

.recomend {
  padding-top: 65px;
}
.recomend__title {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 28px;
  line-height: 130%;
  margin-bottom: 32px;
}
.recomend .swiper-button-next::after, .recomend .swiper-button-prev::after {
  display: none;
}
.recomend .swiper-button-next.swiper-button-disabled, .recomend .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}
.recomend .swiper-button-next.swiper-button-disabled svg path, .recomend .swiper-button-prev.swiper-button-disabled svg path {
  fill: #B2B2B2;
}
.recomend .swiper-button-next {
  left: unset;
  top: 17px;
  right: 0;
}
.recomend .swiper-button-prev {
  left: unset;
  right: 48px;
  top: 17px;
}

.subscribe {
  padding-top: 80px;
}
.subscribe__form {
  width: 74%;
  margin-left: auto;
  margin-right: 0;
  padding: 107px 22% 120px 25%;
  background: #F3F3F3;
}
.subscribe__inner {
  position: relative;
}
.subscribe__bg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 48.7%;
}
.subscribe__title {
  font-size: 48px;
  line-height: 110%;
}
.subscribe__desc {
  font-size: 22px;
  line-height: 130%;
  margin-top: 15px;
  color: #5A5A5A;
}
.subscribe input {
  border: none;
  border-bottom: 1px solid #C4C4C4;
  width: 100%;
  background-color: inherit;
  margin-top: 10px;
  padding: 8px;
  outline: none;
}
.subscribe input::placeholder, .subscribe input::-moz-placeholder, .subscribe input::-webkit-input-placeholder {
  font-size: 22px;
  line-height: 130%;
  color: #9A9A9A;
}
.subscribe__btn {
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0.0375em;
  color: #FFFFFF;
  width: 100%;
  height: 64px;
  text-transform: uppercase;
  background: #000000;
  border-radius: 4px;
  margin-top: 30px;
}
.subscribe__btn:hover {
  opacity: 0.8;
}

.footer {
  padding-top: 100px;
  padding-bottom: 25px;
  margin-bottom: 0;
  margin-top: auto;
}
.footer__top {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  position: relative;
}
.footer__item {
  display: block;
  font-size: 14px;
  line-height: 200%;
  color: #4E4E4E;
}
.footer__pay {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 604px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.footer__phone, .footer__mail {
  font-weight: bold;
  font-size: 22px;
  line-height: 200%;
  color: #828282;
  display: block;
}
.footer__logo {
  margin-bottom: 20px;
  display: block;
}
.footer__address {
  margin-top: 14px;
}
.footer__title {
  font-size: 22px;
  margin-bottom: 3px;
}
.footer__title--socials {
  font-size: 22px;
  line-height: 200%;
}
.footer__socials {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
}
.footer__bottom {
  padding: 25px 0;
  color: #B7B7B7;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  margin-top: 30px;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.footer__bottom .black {
  color: #000;
}

.breadcrumbs {
  margin-top: 50px;
  font-size: 14px;
  line-height: 200%;
  color: #757575;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.breadcrumbs__item {
  margin-left: 5px;
}

.product-detail {
  padding-top: 40px;
}
.product-detail__inner {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
}
.product-detail__img {
  padding: 36px 206px;
  background: #F3F3F3;
}
.product-detail__info {
  width: calc(100% - 800px);
}
.product-detail__title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.0375em;
}
.product-detail__title span {
  color: #D785A1;
}
.product-detail__desc {
  font-size: 14px;
  line-height: 200%;
  margin-top: 28px;
  color: #AFAFAF;
}
.product-detail__volume {
  margin-top: 28px;
  font-size: 16px;
  line-height: 200%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.product-detail__amount {
  margin-right: 8px;
  border: 1px solid #000000;
  padding: 8px;
}
.product-detail__prices {
  margin-top: 28px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  line-height: 200%;
}
.product-detail__price {
  margin-right: 17px;
}
.product-detail__rub {
  font-weight: bold;
  font-size: 24px;
}
.product-detail__rub.no-discount {
  color: #B9B9B9;
  text-decoration: line-through;
}
.product-detail__discount {
  font-size: 12px;
  color: #F287AB;
}
.product-detail__discount.no-discount {
  color: #B9B9B9;
}
.product-detail__buttons {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  margin-top: 22px;
  position: relative;
}
.product-detail__btn {
  background: #1A1A1A;
  height: 54px;
  width: 54px;
  color: #fff;
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 18px;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.0375em;
  margin-right: 20px;
}
.product-detail__btn:hover {
  opacity: 0.8;
}
.product-detail__btn:hover .product-detail__hint {
  opacity: 1;
}
.product-detail__btn--big {
  width: 268px;
}
.product-detail__inshop {
  font-size: 12px;
  line-height: 200%;
  margin-top: 13px;
  color: #2E2E2E;
}
.product-detail__hint {
  position: absolute;
  background: #1A1A1A;
  color: #fff;
  width: 240px;
  height: 53px;
  text-align: left;
  padding: 5px 12px;
  top: -73px;
  left: 362px;
}
.product-detail__hint p {
  font-weight: bold;
  font-size: 12px;
  line-height: 26px;
}
.product-detail__hint a {
  font-size: 10px;
  color: #D785A1;
  line-height: 10px;
  display: block;
}
.product-detail__hint:hover {
  opacity: 1;
}
.product-detail__hint::after {
  content: '';
  position: absolute;
  left: 25px;
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid #1A1A1A;
  z-index: 10;
}
.product-detail__about {
  margin-top: 33px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.product-detail__about span {
  display: block;
}
.product-detail__about img {
  flex-shrink: 0;
  margin-right: 13px;
}
.product-detail__about-item {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  margin-right: 30px;
  font-size: 14px;
}

.interest {
  padding-top: 65px;
}
.interest__title {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 28px;
  line-height: 130%;
  margin-bottom: 32px;
}
.interest .swiper-button-next::after, .interest .swiper-button-prev::after {
  display: none;
}
.interest .swiper-button-next.swiper-button-disabled, .interest .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}
.interest .swiper-button-next.swiper-button-disabled svg path, .interest .swiper-button-prev.swiper-button-disabled svg path {
  fill: #B2B2B2;
}
.interest .swiper-button-next {
  left: unset;
  top: 17px;
  right: 0;
}
.interest .swiper-button-prev {
  left: unset;
  right: 48px;
  top: 17px;
}

.same {
  padding-top: 65px;
}
.same__title {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 28px;
  line-height: 130%;
  margin-bottom: 32px;
}
.same .swiper-button-next::after, .same .swiper-button-prev::after {
  display: none;
}
.same .swiper-button-next.swiper-button-disabled, .same .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}
.same .swiper-button-next.swiper-button-disabled svg path, .same .swiper-button-prev.swiper-button-disabled svg path {
  fill: #B2B2B2;
}
.same .swiper-button-next {
  left: unset;
  top: 17px;
  right: 0;
}
.same .swiper-button-prev {
  left: unset;
  right: 48px;
  top: 17px;
}

.product-info {
  padding-top: 45px;
}
.product-info__title {
  margin-top: 14px;
  font-size: 16px;
  line-height: 130%;
}
.product-info__desc {
  margin-top: 8px;
  font-size: 14px;
  line-height: 200%;
  color: #AFAFAF;
}
.product-info__text {
  margin-top: 18px;
  font-size: 14px;
  line-height: 200%;
  color: #3C3C3C;
}
.product-info__detail {
  margin-top: 43px;
  font-size: 14px;
  line-height: 200%;
}
.product-info__detail-item {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  margin-bottom: 18px;
  margin-top: 13px;
}
.product-info__detail-item span {
  display: block;
}
.product-info__detail-item .grey {
  color: #AFAFAF;
  width: 151px;
  margin-right: 56px;
}
.product-info .tabs__list {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  padding-bottom: 7px;
  border-bottom: 1px solid #C4C4C4;
}
.product-info .tabs__item {
  cursor: pointer;
  margin-right: 40px;
  position: relative;
}
.product-info .tabs__item:hover::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.product-info .tabs__item--active {
  cursor: default;
}
.product-info .tabs__item--active:hover::after {
  bottom: -10px;
}
.product-info .tabs__item--active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.product-info .tabs__content {
  display: none;
}
.product-info .tabs__content--active {
  display: block;
}

.catalog {
  padding-top: 40px;
  padding-bottom: 70px;
}
.catalog__inner {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
}
.catalog__group {
  width: calc(50% - 47px);
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.catalog__single {
  width: calc(50% - 47px);
}
.catalog__single-top {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  padding: 59px 0;
  background: #F3F3F3;
}
.catalog__card {
  width: calc(50% - 19px);
  margin-bottom: 88px;
}
.catalog__card:nth-child(odd) {
  margin-right: 38px;
}
.catalog__card-top {
  background: #F3F3F3;
  padding: 75px 0;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.catalog__card-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  margin-top: 24px;
  margin-left: 24px;
  letter-spacing: 1.5px;
  color: #1A1A1A;
}
.catalog__card-bottom p {
  margin-top: 11px;
  margin-left: 24px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.catalog__card-desc {
  font-size: 12px;
  line-height: 18px;
  color: #5C5C66;
  margin-right: 30px;
}
.catalog__card-price {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #1A1A1A;
}
.catalog__single-desc {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #828282;
  margin-left: 69px;
  margin-top: -50px;
}
.catalog__single-title {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.0375em;
  margin-left: 69px;
}
.catalog__single-price {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 22px;
  line-height: 130%;
  margin-top: 10px;
  margin-left: 69px;
}

.catalog-filter {
  margin-top: 42px;
}
.catalog-filter__inner {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.catalog-filter__item {
  margin-right: 30px;
  width: 120px;
  position: relative;
}
.catalog-filter__item:hover .catalog-filter__hidden {
  display: block;
}
.catalog-filter__item:hover .catalog-filter__show {
  color: #D785A1;
}
.catalog-filter__show {
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  cursor: pointer;
}
.catalog-filter__hidden {
  width: 100%;
  display: none;
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  padding: 11px 13px 16px;
  height: 118px;
  overflow-y: scroll;
  bottom: -5px;
  transform: translateY(100%);
}
.catalog-filter__hidden input {
  width: 100%;
  border: none;
  padding: 5px 1px;
  border-bottom: 1px solid #F3F3F3;
  font-size: 12px;
  line-height: 14px;
  outline: none;
}
.catalog-filter__hidden input::placeholder {
  color: #CACACA;
  font-size: 12px;
  line-height: 14px;
}
.catalog-filter__hidden p {
  margin-top: 8px;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  /* Grey */
  color: #828282;
  cursor: pointer;
}
.catalog-filter__hidden::-webkit-scrollbar {
  width: 1px;
}
.catalog-filter__hidden::-webkit-scrollbar-track {
  background: #fff;
  width: 1px;
  height: 39px;
}
.catalog-filter__hidden::-webkit-scrollbar-thumb {
  background-color: #000;
}

.profile {
  margin-top: 107px;
}
.profile__inner {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.aside {
  width: 350px;
  margin-right: 240px;
}
.aside .user {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.aside .user__name {
  margin-right: 15px;
  font-size: 32px;
  line-height: 150%;
  display: block;
  height: 100%;
}
.aside .user__bonus {
  color: #CACACA;
  margin-top: 10px;
}
.aside__menu {
  margin-top: 42px;
  width: 240px;
  margin-right: 0;
  margin-left: auto;
  font-size: 24px;
  line-height: 200%;
  color: #828282;
}
.aside__menu-item--active {
  color: #000;
}
.aside__menu-item:hover {
  color: #000;
  cursor: pointer;
}

.profile__inner {
  position: relative;
}
.profile__inner::after {
  background: #F3F3F3;
  width: 100%;
  height: 1px;
  content: "";
  position: absolute;
  top: 135px;
  left: 0;
}
.profile__title {
  font-weight: bold;
  font-size: 107px;
  line-height: 200%;
  margin-top: -55px;
}
.profile__desc {
  font-weight: 500;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 55px;
}
.profile form {
  width: 371px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
}
.profile form > input {
  width: 100%;
  padding: 8px 0;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #CACACA;
  outline: none;
}
.profile form > input::placeholder {
  font-size: 16px;
  line-height: 150%;
  color: #828282;
}
.profile form button {
  width: 100%;
  background-color: #000;
  font-family: "Bebas Neue";
  font-weight: normal;
  line-height: 200%;
  letter-spacing: 0.0375em;
  color: #FFFFFF;
  height: 53px;
  width: 100%;
  margin-top: 38px;
}
.profile__phone {
  width: 100%;
}
.profile__phone > input {
  width: 100%;
  padding: 8px 0;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #CACACA;
  outline: none;
}
.profile .radio {
  position: relative;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 20px;
}
.profile .radio-style {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border: 1px solid #CACACA;
  border-radius: 50%;
  transition: 0.2s;
}
.profile .radio:checked + .radio-style {
  background-color: #000;
}
.profile .radio__item > span {
  margin-left: 20px;
}
.profile .radio__item {
  margin-right: 15px;
  margin-top: 12px;
  margin-bottom: 65px;
  width: calc(33.33% - 22px);
}
.profile .radio__item.last {
  margin-right: 0;
}
.profile .checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.profile .checkbox + label {
  position: relative;
  padding: 0 0 0 38px;
  cursor: pointer;
}
.profile .checkbox + label:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #CACACA;
  transition: .2s;
}
.profile .checkbox:checked + label:after {
  background: #000;
}
.profile__agree {
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.profile__agree label {
  font-size: 12px;
}
.profile__agree label a {
  color: #D785A1;
}

.favorite__empty {
  font-size: 24px;
  display: none;
}
.favorite__item {
  width: 532px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  margin-bottom: 62px;
}
.favorite__img {
  width: 126px;
  height: 126px;
  background: #F3F3F3;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  flex-shrink: 0;
  margin-right: 20px;
}
.favorite__info {
  position: relative;
  height: 126px;
}
.favorite__desc {
  font-size: 14px;
  line-height: 110%;
  margin-top: 20px;
  color: #434343;
}
.favorite__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.0375em;
  color: #050505;
  font-family: "Bebas Neue";
  margin-top: 8px;
}
.favorite__bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.favorite__buttons {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.favorite__buttons button {
  margin-right: 10px;
}
.favorite__prices {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  font-size: 18px;
  line-height: 200%;
}
.favorite__prices .low {
  text-decoration-line: line-through;
  margin-right: 24px;
  color: #B9B9B9;
}

.club {
  padding-top: 70px;
}
.club__inner {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.club__img {
  background-image: url(../images/club.jpg);
  width: 657px;
  height: 693px;
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
  margin-right: 84px;
  position: relative;
}
.club__img-bottom {
  position: absolute;
  bottom: 13px;
  left: 60px;
}
.club__img-desc {
  line-height: 200%;
}
.club__img-title {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 79px;
  line-height: 130%;
  letter-spacing: 0.0375em;
}
.club__img-btn {
  margin-top: -13px;
  width: 268px;
  height: 58px;
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: 225px center;
  background-color: #000000;
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.0375em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.club__img-btn:hover {
  opacity: 0.8;
}
.club__info {
  width: 735px;
}
.club__info-title {
  font-weight: bold;
  font-size: 80px;
  line-height: 200%;
  margin-top: -40px;
}
.club__info-subtitle {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 22px;
}
.club__info-desc {
  margin-bottom: 20px;
}
.club__location {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  margin-bottom: 20px;
}
.club__location-address {
  color: #828282;
  margin-bottom: 35px;
}
.club__location-doc {
  color: #828282;
}
.club__step {
  margin-bottom: 35px;
  color: #828282;
}

.contacts {
  padding-top: 50px;
}
.contacts__title {
  font-weight: bold;
  font-size: 80px;
  line-height: 200%;
}
.contacts__inner {
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.contacts__list {
  width: 623px;
  padding-right: 15px;
  height: 1080px;
  overflow-y: scroll;
}
.contacts__list::-webkit-scrollbar {
  width: 12px;
  background: #ECECEC;
}
.contacts__list::-webkit-scrollbar-track {
  background: #ECECEC;
  width: 8px;
  height: 118px;
}
.contacts__list::-webkit-scrollbar-thumb {
  background: #5C5C66;
  border-radius: 4px;
}
.contacts .map {
  width: calc(100% - 623px);
  height: 1080px;
}
.contacts__item {
  padding: 30px 65px;
  background: #F3F3F3;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 200%;
}
.contacts__item a.pink {
  color: #D785A1;
}
.contacts__item a {
  display: block;
  font-weight: 500;
}
.contacts__item-sort {
  color: #828282;
}
.contacts__item-address {
  font-weight: bold;
}

.delivery {
  padding-top: 50px;
}
.delivery__title {
  font-weight: bold;
  font-size: 80px;
  line-height: 200%;
}
.delivery__steps {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  padding: 43px 0;
  background: #F3F3F3;
  margin-top: 25px;
}
.delivery__step {
  width: calc( 100% / 3);
  padding: 0 45px;
  position: relative;
}
.delivery__step:nth-child(2)::after, .delivery__step:nth-child(2)::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background: #E3E3E3;
  top: 0;
}
.delivery__step:nth-child(2)::before {
  left: 0;
}
.delivery__step:nth-child(2)::after {
  right: 0;
}
.delivery__step-title {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  letter-spacing: 0.0375em;
}
.delivery__step-desc {
  line-height: 130%;
  color: #464646;
  margin-top: 12px;
}
.delivery__info {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  margin-top: 74px;
}
.delivery__info-img {
  width: 917px;
  flex-shrink: 0;
}
.delivery__info-left {
  width: calc(100% - 967px);
  position: relative;
}
.delivery__info-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  padding-bottom: 22px;
  border-bottom: 1px solid #CACACA;
}
.delivery__price {
  margin-top: 35px;
  font-size: 22px;
}
.delivery__price p:nth-child(2) {
  font-size: 16px;
  color: #828282;
}
.delivery__self {
  margin-top: 25px;
  font-weight: bold;
  font-size: 22px;
}
.delivery__self p:nth-child(2) {
  color: #D785A1;
}
.delivery__add {
  background: #F3F3F3;
  margin-top: 25px;
  padding: 38px 50px 38px 120px;
  background-image: url(../images/cart.png);
  background-repeat: no-repeat;
  background-position: 45px center;
  font-size: 18px;
  color: #828282;
}
.delivery__btn {
  margin-top: 75px;
  width: 100%;
  height: 53px;
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.0375em;
  background: #000;
  color: #FFFFFF;
}
.delivery__btn:hover {
  opacity: 0.7;
}

.delivery-rule {
  margin-top: 95px;
}
.delivery-rule__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 200%;
}
.delivery-rule .tabs__list {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  margin-top: 35px;
}
.delivery-rule .tabs__item {
  cursor: pointer;
  margin-right: 23px;
  transition: .3s;
  color: #000;
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 18px;
  line-height: 200%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.0375em;
  padding: 9px 102px;
}
.delivery-rule .tabs__item:hover {
  background-color: #000;
  color: #fff;
}
.delivery-rule .tabs__item--active {
  background-color: #000;
  color: #fff;
  cursor: default;
}
.delivery-rule .tabs__content {
  display: none;
  margin-top: 46px;
}
.delivery-rule .tabs__content--active {
  display: block;
}
.delivery-rule__list {
  padding-left: 28px;
  margin: 0;
  padding-inline-start: 20px;
}
.delivery-rule__list-item {
  list-style: decimal;
  padding-left: 20px;
  margin-bottom: 16px;
}
.delivery-rule__list-item > p {
  margin-bottom: 16px;
}
.delivery-rule__list-item::marker {
  font-weight: bold;
}
.delivery-rule__list-steps {
  margin-bottom: 16px;
  line-height: 200%;
  padding-left: 30px;
}
.delivery-rule__list-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 35px;
}
.delivery-rule__take {
  margin-bottom: 35px;
}
.delivery-rule__take strong {
  font-weight: bold;
}

.blog {
  padding-top: 50px;
}
.blog__title {
  font-weight: bold;
  font-size: 80px;
  line-height: 200%;
}
.blog__items {
  margin-top: 16px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.blog__item {
  width: calc(33.33% - 42px);
  margin-bottom: 60px;
}
.blog__item:nth-child(3n-2), .blog__item:nth-child(3n-1) {
  margin-right: 63px;
}

.blog-card {
  cursor: pointer;
}
.blog-card__top {
  width: 100%;
  position: relative;
}
.blog-card__top img {
  width: 100%;
}
.blog-card__date {
  background: rgba(0, 0, 0, 0.9);
  font-family: "Bebas Neue";
  font-weight: bold;
  color: #fff;
  position: absolute;
  width: 97px;
  height: 77px;
  top: 16px;
  right: 20px;
  text-align: center;
  letter-spacing: 0.0375em;
}
.blog-card__day {
  font-size: 35px;
  line-height: 200%;
}
.blog-card__month {
  font-size: 12px;
  margin-top: -25px;
}
.blog-card__title {
  font-size: 22px;
  margin-top: 8px;
  height: 66px;
  line-height: 150%;
}
.blog-card__desc {
  margin-top: 4px;
  color: #636363;
  line-height: 150%;
}
